/* stylelint-disable no-descending-specificity */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

:root {
  --color-primary-blue: #0290ff;
  --color-secondary-black: #121212;
  --color-secondary-white: #fafafa;
  --color-secondary-gray: #888;
  --color-secondary-blue: #4386bf;
  --color-tertiary-white: #e8e8e8;
  --color-tertiary-gray: #c4c4c4;
  --color-pale-gray: #f5f6fa;
}

$bp-medium: 50em; // 768px

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-pale-gray);
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
}

header {
  background-color: white;
  height: 4.5rem;
  padding: 8px 16px 4px 16px;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid var(--color-secondary-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .account {
    display: none;
  }

  @media screen and (min-width: $bp-medium) {
    .header__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 960px;
      margin: 0 auto;
      background-color: inherit;
    }

    .account {
      display: block;
      margin-left: auto;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      fill: var(--color-primary-blue);
      box-sizing: content-box;
      padding: 0.75rem;
      border: 1px solid var(--color-tertiary-white);
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary-blue);
    margin-bottom: 12px;

    @media screen and (min-width: $bp-medium) {
      margin-bottom: 0;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  font-weight: 400;
  font-size: 0.813rem;
  letter-spacing: 1.9px;

  @media screen and (min-width: $bp-medium) {
    margin-left: 5rem;
  }

  a {
    color: var(--color-secondary-black);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}

.books {
  position: relative;
  top: 5rem;
  margin: 0 16px;

  @media screen and (min-width: $bp-medium) {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__item {
    font-family: 'Roboto Slab', serif;
    margin: 2rem 0;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--color-tertiary-white);
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @media screen and (min-width: $bp-medium) {
      grid-template-columns: 1.5fr 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 32px 16px;
    }

    .header {
      color: var(--color-secondary-black);

      h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        opacity: 0.5;
        margin-bottom: 0.25rem;
      }

      h3 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 1.375rem;
        letter-spacing: -0.2px;
      }

      p {
        color: var(--color-secondary-blue);
      }

      div {
        margin-top: 1.3rem;

        button:not(:last-child)::after {
          content: '';
          border: solid 1px var(--color-tertiary-white);
          margin-left: 1rem;
          margin-right: 1rem;
        }

        button {
          color: var(--color-secondary-blue);
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}

.progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-secondary-black);

  &__text {
    h5 {
      font-size: 2rem;
      font-weight: 400;
    }

    p {
      opacity: 0.5;
    }
  }

  &__rule {
    display: none;

    @media screen and (min-width: $bp-medium) {
      display: block;
      width: 1px;
      height: 80%;
      border: solid 1px var(--color-tertiary-white);
      margin-right: 1rem;
    }
  }

  &__bar {
    max-width: 4.25rem;
    height: 4.25rem;
  }
}

.chapter {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.813rem;

  h6 {
    color: var(--color-secondary-black);
    opacity: 0.5;
    margin-bottom: 0.43rem;
  }

  h4 {
    font-size: 1rem;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  button {
    color: #fff;
    outline: none;
    background-color: var(--color-primary-blue);
    letter-spacing: 0.5px;
    border: none;
    padding: 0.438rem 1.188rem 0.5rem 1.375rem;
    border-radius: 3px;
    cursor: pointer;
  }
}

.add-book {
  font-family: Montserrat, sans-serif;
  margin-top: 1.8rem;

  form {
    @media screen and (min-width: $bp-medium) {
      max-width: 960px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      column-gap: 2rem;
    }
  }

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--color-secondary-gray);
    margin-bottom: 0.9rem;
  }

  input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--color-tertiary-white);
    border-radius: 4px;
    margin-bottom: 0.5rem;
    outline: none;
  }

  input::placeholder {
    color: var(--color-tertiary-gray);
    font-size: 1rem;
    letter-spacing: -0.15px;
  }

  button {
    margin: 1rem 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.813rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    outline: none;
    background-color: var(--color-primary-blue);
    letter-spacing: 0.5px;
    border: none;
    padding: 0.438rem 1.188rem 0.5rem 1.375rem;
    border-radius: 3px;
    cursor: pointer;

    @media screen and (min-width: $bp-medium) {
      padding: 0.88rem;
      min-width: 8rem;
      margin-top: 8px;
    }
  }
}

.categories {
  position: relative;
  top: 5rem;
  margin: 0 16px;

  @media screen and (min-width: $bp-medium) {
    max-width: 960px;
    margin: 0 auto;
  }
}
