@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

:root {
  --color-primary-blue: #0290ff;
  --color-secondary-black: #121212;
  --color-secondary-white: #fafafa;
  --color-secondary-gray: #888888;
  --color-secondary-blue: #4386bf;
  --color-tertiary-white: #e8e8e8;
  --color-tertiary-gray: #c4c4c4;
  --color-pale-gray: #f5f6fa;
}

$bp-large: 68.75em; // 1100px
$bp-small: 37.5em; // 600px


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--color-pale-gray);
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
}

header {
  background-color: var(--color-secondary-white);
  height: 4.5rem;
  padding: 8px 16px 4px 16px;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid var(--color-secondary-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary-blue);
    margin-bottom: 12px;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  font-weight: 400;
  font-size: 0.813rem;
  letter-spacing: 1.9px;

  a {
    color: var(--color-secondary-black);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

}
